# Backend (Python)
backend/venv/
backend/.env
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/*.db
**/*.sqlite

# Mac/Windows
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env*
frontend/dist/
frontend/out/
